{% extends "base.html" %}
{% comment %} {% load static %} {% endcomment %}
{% block title %}
   <title>Create</title> 
{% endblock title %}

{% block content %}

    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Create a New Profile</h1>

    <form method = "POST" action = "">
        {% csrf_token %}
        <p>Profile Name:</p>
        {{form.name}}

        <p>Birthdate:</p>
        {{form.birthdate}}

        <p>Gender:</p>
        {{form.gender}}

        {% comment %} {{ form.as_p }} {% endcomment %}

        {% comment %} <input type = "name" name = "name" placeholder = "Name">
        <input type = "birthdate" name = "birthdate" placeholder = "Birthdate">
        <input type = "gender" name = "gender" placeholder = "Gender">
        <input type = "content" name = "content" placeholder = "Content"> {% endcomment %}

        <input type = "submit" name = "Create Profile" value = "Create Profile" class="btn btn-success">
        {% comment %} <input type = "submit" name = "Create Profile" value = "Create Profile"> {% endcomment %}
        {% comment %} <a href="{% url 'createProfile' %}"><button type="button" class="btn btn-primary">Add Profile</button></a> {% endcomment %}
    </form> 


{% endblock content %}
