{% load static %}
<h3>Log In</h3>

<form method = "POST" action = "">
    {% csrf_token %}
    <p>Username:</p>
    <input type = "username" name = "username">
    <p>Password:</p>
    <input type = "password" name = "password">
   

    {% for message in messages %}
        <p id = "messages"> {{message}}</p>
    {% endfor %}
    <br>
    <input type = "submit" name = "Create User" value = "Log-In">
    <br>
    <div>
        Don't have an account? <a href = "{% url "sign_up" %}">Sign Up</a>
    </div>
</form> 
