{% extends 'base.html' %}

{% block title %}
    <title>Update</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Update Profile</h1>

    <form action="" method="POST">
        {% csrf_token %}
        <p>Profile Name:</p>
        {{form.name}}

        <p>Birthdate:</p>
        {{form.birthdate}}

        <p>Gender:</p>
        {{form.gender}}
        {% comment %} {{ form.as_p }} {% endcomment %}
        <input type="submit" name = "Update Profile" class="btn btn-success">
    </form>
{% endblock content %}